@font-face {
  font-family: 'handwriting';
  font-weight: 400;
  src: url('./Public/Give_You_Glory/GiveYouGlory-Regular.ttf');
}
@font-face {
  font-family: 'subtitle';
  font-weight: 100;
  src: url('./Public/Quicksand/static/Quicksand-Light.ttf');
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p,
textarea,
input {
  font-family: Rasa;
  font-size: 0.9em;
}

.subtitle{
  font-family: subtitle;
  font-size: 100;
}