@font-face {
  font-family: 'handwriting';
  font-weight: 400;
  src: url('./Public/Give_You_Glory/GiveYouGlory-Regular.ttf');
}
@font-face {
  font-family: 'subtitle';
  font-weight: 100;
  src: url('./Public/Quicksand/static/Quicksand-Light.ttf');
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p,
textarea,
button,
input {
  font-family: Rasa;
  font-size: 0.9em;
}

.subtitle {
  font-family: subtitle;
  font-size: 100;
}

.penCursor {
  cursor: url('https://icons.iconarchive.com/icons/iconsmind/outline/24/Pen-2-icon.png') -40
      80,
    auto;
}

.spin {
  animation-name: spin;
  animation-duration: 1500ms; /* How long lasts 1 turn */
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.button {
  background-color: transparent;
  border: none;
  outline: none;
}
